*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui;
    background-color: #222;
}
.container{
    width: 80%;
    margin: auto;
}
.container .title{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0;
}
.container .title h2{
    font-size: 35px;
}
.container .title p{
    font-size: 18px;
}
.container .inputs input{
    width: 100%;
    margin: 10px 0;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #111;
    caret-color: #fff;
    transition: 0.3s;
    color: #fff;
}
.container .inputs .price{
    display: flex;
    gap: 15px;
}
.container .inputs .price span{
    background-color: red;
    text-align: center;
    width: fit-content;
    padding: 4px 6px;
    margin: auto;
    color: #fff;
    font-size: 16px;
}
.container .inputs .price span::before{
    content: "Total: ";
}
.container .outputs input{
    width: 102%;
    height: 55px;
    transition: 0.3s;
    color: #fff;
}
.container input:focus{
    transform: scale(1.1);
    background-color: black;
}
.container button{
    width: 100%;
    background-color: rgb(88, 52, 155);
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.container button:hover{
    transform: scale(1.1);
    background-color: rgba(88, 52, 155, 0.575);
}
.container .btns button{
    width: 40%;
}
.container .btns{
    display: flex;
    justify-content: space-between;
}
#deleteAll{
    margin: 25px auto;
}
.container table{
    color: #fff;
    padding-top: 30px;
    width: 100%;
}
.container table th{
    text-transform: uppercase;
}
.container table td{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}